# H2 database
H2_DB_NAME=db_name
H2_DB_USER=db_user
H2_DB_PASSWORD=db_password
H2_CONSOLE_PATH=/path-to-h2-console

# Postgres database
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=centrodedia
